/* Reset CSS */
h1,h2,h3,h4,ul,li,img {
	border: 0;
	margin: 0;
	padding: 0;
}

/* General */
body {
	background-color: #e0e0e0 !important;
	color: #333;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 960px;
	margin: 0 auto !important;
}

a {
	color: #333 !important;
	text-decoration: none !important;
}

a:hover {
	color: #000 !important;
	text-decoration: underline !important;
}
.clear {
	clear: both;
	font-size: 1px;
	line-height: 0;
	height: 0;
}

/* Header */
#header {
	line-height: 25px;
	text-shadow: 0px 1px 0px #fff;
}

#title {
	background: url(../img/iconDatabase.png) no-repeat left center;
	float: left;
	padding-left: 20px;
}

#sessionData {
	float: right;
}

#sessionData ul {
	list-style: none;
}

#sessionData ul li {
	background: url(../img/separatorHeader.gif) no-repeat right center;
	float: left;
	padding: 0 10px;
}

/* Menu */
.menu {
	background: url(../img/bgQueryMenu.gif) repeat-x;
	border: 1px #d0d0d0 solid;
	height: 26px;
	line-height: 26px;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	background: url(../img/separatorMenu.gif) no-repeat right center;
	display: inline;
	padding: 0 10px;
}

.menu button {
	background-color: transparent;
	border: none;
	color: #333;
	cursor: pointer;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow: visible;
	padding: 0;
	text-shadow: 0px 1px 0px #fff;
	width: auto;
}

.menu .separator {
	background: url(../img/separatorMenu.gif) no-repeat right center;
	height: 14px;
	margin: 0 8px;
	width: 2px;
	display: inline-block;
}

/* Preloader */
.preloader {
	clear: both;
	left: 98%;
	position: absolute;
	top: 3px;
	width: 100%;
}

.containerResultMenu {
	background: url(../img/bgQueryMenu.gif) repeat-x !important;
}

.resultMenu button {
	background-color: transparent;
	border: none;
	color: #333;
	cursor: pointer;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow: visible;
	padding: 0;
	text-shadow: 0px 1px 0px #fff;
	width: auto;
}

.resultMenu .separator {
	background: url(../img/separatorMenu.gif) no-repeat right center;
	height: 14px;
	margin: 0 8px;
	width: 2px;
}

/* Buttons */
#queryMenu ul .btnExecute {
	background: url(../img/iconArrowRight.png) no-repeat left center;
	padding-left: 20px;
}

#queryMenu ul .btnClear {
	background: url(../img/iconClear.png) no-repeat left center;
	padding-left: 20px;
}

#queryMenu ul .btnSwitchInstance {
	background: url(../img/iconSwitch.png) no-repeat left center;
	padding-left: 20px;
}
	
#queryMenu ul .btnNewWin {
	background: url(../img/iconNewWin.png) no-repeat left center;
	padding-left: 20px;
}

.resultMenu {
	float: left;
	width: 50%;
    height: 21px;
    padding-top: 5px;
}

.resultMenu .btnCommitChanges {
	background: url(../img/iconApplicationGo.png) no-repeat left center;
	margin-left: 15px;
	padding-left: 20px;
}

.resultMenu .btnRedrawTable {
	background: url(../img/iconRedraw.png) no-repeat left center;
	padding-left: 20px;
}

.resultMenu .btnExport {
	background: url(../img/iconExport.png) no-repeat left center;
	padding-left: 20px;
}

/* Footer Table */
.footerTable {
	float: right;
	text-align: right;
	width: 50%;
    height: 21px;
    padding-top: 5px;	
}

.footerTable button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.footerTable .btnFirst {
	background: url(../img/iconLeftDouble.png) no-repeat center top;
}

.footerTable .btnPrevious {
	background: url(../img/iconLeft.png) no-repeat center top;
}

.footerTable .btnNext {
	background: url(../img/iconRight.png) no-repeat center top;
}

.footerTable .btnLast {
	background: url(../img/iconRightDouble.png) no-repeat center top;
	margin-right: 15px;
}

/* Query */
#textareaQuery {
	border: 1px #d0d0d0 solid;
	border-top: none;
	height: 240px;
	margin-top: -1px;
	width: 954px;
}

#query {
	clear: both;
}

#result {
	position: relative;
}

/* Table */
.gwt-InlineLabel {
	color: #333 !important;
	font-size: 11px !important;
}
.tableTab {
	border: 1px solid #D0D0D0;
	clear: both;
	width: 960px;
	overflow: scroll !important;
}

.tableTab .GALD-WOPD {
	border: 1px solid #c5c5c5;
	border-top: none;
}

.tableTab .GALD-WOPD thead th {
	background: url(../img/bgTheadTable.gif) repeat-x;
	border-bottom: 1px solid #c5c5c5;
	font-weight: normal;
	height: 22px;
	text-align: left;
	text-shadow: 0px 1px 0px #fff;
}

.tableTab {
	padding: 1px;
}

.GALD-WOHC {
	padding: 1px;	
}

.tableTab .GALD-WOPD .GALD-WOJC {
	background-color: #fff !important;
	border-top: 1px solid #ededed !important;
}

.tableTab .GALD-WOPD .GALD-WOJD {
	background-color: #fafafa !important;
	border-top: 1px solid #ededed !important;
}

/* Developed by */
#developedBy {
	font-size: 11px !important;
	padding: 5px;
	text-align: right;
	text-shadow: 0px 1px 0px #fff;
}

/* GWT */
#tabs {
	background: url(../img/bgTabs.gif) repeat-x;
	border: 1px solid #D0D0D0;
	border-top: none;
} 

.gwt-TabBar {
    background: url("../img/1x1.gif") repeat-x scroll left bottom transparent;
    float: left;
    font-size: 1.1em;
    height: 1%;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100%;	
}

.gwt-TabBarItem {
	background: url(../img/bgTab.gif) repeat-x !important;
	color: # #333333 !important;
	border: 1px solid #d0d0d0 !important;
	border-bottom: none;
	font-size: 11px !important;
	font-weight: normal !important;
	height: 19px !important;
	line-height: 19px !important;
	padding: 0 10px !important;
	margin: 2px 0 0 5px !important;
}

.gwt-TabBarItem-selected {
	background: url(../img/bgTabSelected.gif) repeat-x !important;
	border: 1px solid #d0d0d0 !important;
	border-bottom: none !important;
	color: # #333333 !important;
	font-size: 11px !important;
	font-weight: normal !important;
}

.gwt-TabPanel {
	width: 100%;
}
.gwt-TabPanelBottom {
	border-color: transparent !important;
	padding: 0 !important;
	width: 100% !important;
	border: none !important;
}

.gwt-TabPanelBottom .gwt-TextArea {
	border: none !important;
	padding-top: 25px !important;
	height: 150px !important;
	width: 100%;
}

.gwt-DialogBox .dialogTopCenterInner .Caption {
	font-weight: bold;
}

.gwt-DialogBox .dialogContent {
	padding-top: 15px;
}

.gwt-DialogBox .dialogContent,.gwt-DialogBox .dialogMiddleCenter {
	background-color: #f0f0f0 !important;
}

.gwt-DialogBox .gwt-Label {
	font-size: 11px !important;
}

.gwt-DialogBox .textFillLis,.gwt-DialogBox .textFill {
	background-color: #FCFCD7;
}

.gwt-DialogBox .gwt-ListBox,.gwt-DialogBox .textFillLis,.gwt-DialogBox .textOkLis
	{
	border: 1px solid #ccc;
	font-size: 11px !important;
	width: 200px !important;
}

.gwt-DialogBox .gwt-TextBox,.gwt-DialogBox .gwt-PasswordTextBox {
	border: 1px solid #ccc !important;
	font-size: 11px !important;
	width: 192px !important;
}

.gwt-DialogBox .textFill,.gwt-DialogBox .textOk {
	border: 1px solid #ccc !important;
	font-size: 11px !important;
	width: 198px !important;
}

.gwt-DialogBox .gwt-Button {
	font-size: 11px !important;
	float: left !important;
}

/* Splitter */
#header {
	height: 25px;
	font-size: 11px;
}

#splitterContainer {
	height: 97%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#leftPane {
	border-top: solid 1px #9cbdff;
	float: left;
	height: 100%;
	overflow: auto;
	width: 15%;
}

#rightPane {
	
}

#rightSplitterContainer {
	width: 100%;
}

#rightTopPane {
	
}

#rightBottomPane {
	
}

.splitbarV {
	background: #cbe1fb url(../img/panev.gif) 0% 50%;
	border-left: solid 1px #e0e0e0;
	border-right: solid 1px #e0e0e0;
	float: left;
	font-size: 0px;
	height: 100%;
	line-height: 0px;
	width: 6px;
}

.splitbarH {
	background: #cbe1fb url(../img/paneh.gif) 50% 0%;
	border-bottom: solid 1px #e0e0e0;
	border-top: solid 1px #e0e0e0;
	font-size: 0px;
	height: 6px;
	line-height: 0px;
	text-align: left;
}

.splitbuttonV {
	background: transparent url(../img/panevc.gif) 10px 50%;
	height: 83px;
	margin-left: -4px;
	margin-top: -41px;
	position: relative;
	top: 50%;
	width: 10px;
}

.splitbuttonV.invert {
	background: transparent url(../img/panevc.gif) 0px 50%;
	margin-left: 0px;
}

.splitbuttonH {
	background: transparent url(../img/panehc.png) 50% 0px;
	height: 11px !important;
	left: 50%;
	margin-left: -41px;
	position: relative;
	width: 83px;
	z-index: 9999;
}

.splitbuttonH.invert {
	background: transparent url(../img/panehc.png) 50% -11px;
	margin-top: -4px;
}

.splitbarV.working,.splitbarH.working,.splitbuttonV.working,.splitbuttonH.working
	{
	filter: alpha(opacity =   50);
	moz-opacity: .50;
	position: relative;
	opacity: .50;
	z-index: 99999;
}

/* Codemirror */
.CodeMirror {
	background-color: #fff;
	font-family: monospace;
	font-size: 12px;
	line-height: 1em;
}

.CodeMirror-scroll {
	height: 290px;
	overflow: auto;
	position: relative;
}

.CodeMirror-gutter {
	background-color: #f7f7f7;
	border-right: 1px solid #eee;
	height: 100%;
	left: 0;
	min-width: 2em;
	position: absolute;
	top: 0;
}

.CodeMirror-gutter-text {
	color: #aaa;
	padding: .4em .2em .4em .4em;
	text-align: right;
}

.CodeMirror-lines {
	padding: .4em;
}

.CodeMirror pre {
	background: transparent;
	border-radius: 0;
	border-width: 0;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	moz-border-radius: 0;
	o-border-radius: 0;
	padding: 0;
	webkit-border-radius: 0;
	white-space: pre;
	word-wrap: normal;
}

.CodeMirror textarea {
	font-family: inherit !important;
	font-size: inherit !important;
}

.CodeMirror-cursor {
	border-left: 1px solid black !important;
	position: absolute;
	visibility: hidden;
	z-index: 10;
}

.CodeMirror-focused .CodeMirror-cursor {
	visibility: visible;
}

span.CodeMirror-selected {
	background: #ccc !important;
	color: HighlightText !important;
}

.CodeMirror-focused span.CodeMirror-selected {
	background: Highlight !important;
}

.CodeMirror-matchingbracket {
	color: #0f0 !important;
}

.CodeMirror-nonmatchingbracket {
	color: #f22 !important;
}

.cm-s-default span.cm-keyword {
	color: #708;
}

.cm-s-default span.cm-atom {
	color: #219;
}

.cm-s-default span.cm-number {
	color: #164;
}

.cm-s-default span.cm-def {
	color: #00f;
}

.cm-s-default span.cm-variable {
	color: black;
}

.cm-s-default span.cm-variable-2 {
	color: #05a;
}

.cm-s-default span.cm-variable-3 {
	color: #0a5;
}

.cm-s-default span.cm-property {
	color: black;
}

.cm-s-default span.cm-operator {
	color: black;
}

.cm-s-default span.cm-comment {
	color: #a50;
}

.cm-s-default span.cm-string {
	color: #a11;
}

.cm-s-default span.cm-meta {
	color: #555;
}

.cm-s-default span.cm-error {
	color: #f00;
}

.cm-s-default span.cm-qualifier {
	color: #555;
}

.cm-s-default span.cm-builtin {
	color: #30a;
}

.cm-s-default span.cm-bracket {
	color: #cc7;
}

.cm-s-default span.cm-tag {
	color: #170;
}

.cm-s-default span.cm-attribute {
	color: #00c;
}