<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleados">Agregar</button>
            <h5 *ngIf="empleados.length==0" class="mt-5">Esperando registros</h5>
            <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of empleados">
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td>{{ empleado.documento }}</td>
                    <td>{{ empleado.salario | currency }}</td>
                    <td>
                        <button class="btn btn-dark text-info mr-2" [routerLink]="['/edit-empleados/', empleado.id]">Edit</button>
                        <button class="btn btn-dark text-danger mr-2" (click)="eliminar(empleado.id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
